<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>To do list</title>

    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<body>
<div class="container">
    <h3>Tasks</h3>

    <div>Number of requests:</div>
    <div th:text="${counter.get()}" ></div>

    <hr/>
    <a th:href="@{/createTaskForm}" class="btn btn-primary">Add Task</a>
    <br/><br/>
    <table class="table table-bordered table-striped" id="tasksTable">

        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Finished</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task: ${tasks}">
            <td th:text="${task.title}" />
            <td th:text="${task.description}" />
            <td th:text="${task.done}" />
            <td>
                <a th:href="@{/updateTaskForm(taskId=${task.id})}" class="btn btn-info">Update</a>
                <a th:href="@{/deleteTask(taskId=${task.id})}" class="btn btn-danger ml-2">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $("#tasksTable").DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1]
            }]
        });
    })
</script>
</body>

</html>